* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", serif;
  overflow-x: hidden;
  width: 100vw;
  position: relative;
}

header,
main,
footer {
  z-index: 10;
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 123px;
}
.background {
  position: absolute;
  top: 0px;
  right: 12.5%;
  width: 585px;
  height: 745px;
  z-index: -1;
}
img {
  max-width: 100%;
}

ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}

nav {
  margin-bottom: 3em;
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 500;
  gap: 5%;
  justify-content: center;
  color: #343434;
  padding-top: 0.5em;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1.5;
}

nav ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex: 2;
  justify-content: space-between;
}
.second-nav-ul {
  flex: 2.5;
}

.globe {
  display: flex;
  align-items: center;
  gap: 10px;
}
#login,
#signup {
  padding: 1em;
  border-radius: 20px;
}
#login {
  background-color: #d9d9d9;
}
#signup {
  background-color: #000000;
  color: #ffffff;
}

.hero-section,
.first-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.125rem;
  line-height: 3;
}

h1,
.first-content h2 {
  font-size: 3rem;
  line-height: 1;
}
.get-started-button {
  padding: 0.5em 2em;
  background-color: #000000;
  color: #ffffff;
  border-radius: 5px;
}

.first-content {
  line-height: 2;
}
.download-buttons {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 2em;
  color: #ffffff;
}
.download {
  display: flex;
  background-color: #000000;
  padding: 0.5em;
  font-size: 1rem;
  border-radius: 5px;
  gap: 15px;
  line-height: 1.5;
  width: auto;
}
.download-buttons a:nth-child(2) {
  padding: 0.5em 1.5em 0.5em;
}

footer {
  margin-top: 5em;
  background-color: #00796b;
  color: #ffffff;
  font-size: 1.125rem;
  padding-block: 2em;
}

.link-section {
  display: flex;
  justify-content: space-between;
}
.link-section ul li {
  margin-bottom: 1.5em;
}
.second-footer-section {
  display: flex;
  font-size: 0.75em;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
nav img:last-child {
  display: none;
}

@media (max-width: 900px) {
  .background {
    display: none;
  }
  header,
  main,
  footer {
    padding-inline: 20px;
  }

  .logo-section {
    font-size: 1rem;
  }
  .logo-section img,
  nav img {
    width: 50px;
    height: 50px;
  }

  .hero-section,
  .first-content {
    flex-direction: column;
  }
  h1 {
    font-weight: 600;
  }
  .first-nav-ul,
  .second-nav-ul {
    display: none;
  }

  .get-started-button {
    padding: 0.5em;
  }
  .first-content,
  .hero-section {
    line-height: 2;
    margin-bottom: 4em;
    gap: 30px;
  }
  .first-content {
    flex-direction: column-reverse;
  }
  .download-buttons {
    flex-direction: column;
  }
  .link-section {
    flex-direction: column;
  }
  footer {
    margin-top: 2.5em;
  }
  .none {
    display: block;
  }
}
